* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    width: 40vw;
    height: 70vh;
    border: 2px solid black;
    white-space: border;
    margin-top: 5rem;
    margin-left: 40%;
    background-color: #fff;
    margin-bottom: 5rem;
    margin-top: 2.5rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.container {
    padding: 0 7.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro {
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.intro-con {
    display: flex;
    justify-content: center;
    background-color: rgb(107, 233, 49);
}

.back {
    width: 7vw;
    height: 10vh;
}

.function {
    text-align: center;
}

.input1 {
    border: none;
    outline: none;
    margin-left: 4vw;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    margin-top: 2rem;
}

.input-fun-2 {
    border: none;
    outline: none;
    margin-left: 4vw;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    margin-top: 2rem;
}

.submit {
    border: 1px solid black;
    display: inline-block;
    padding: 8px 8px;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-left: 3rem;
    color: black;
    text-decoration: black;
}

.submit2 {
    border: 1px solid black;
    display: inline-block;
    padding: 8px 8px;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-left: 3rem;
    text-decoration: none;
    color: black;
}

.result {
    margin-left: 1rem;
    display: inline-block;
    font-size: 1.4rem;
}

.result2 {
    margin-left: 2rem;
    font-size: 1.4rem;
    margin-top: -30px;
}

.main2 {
    overflow-x: scroll;
}

.submit:hover {
    background-color: lawngreen;
    color: black;
    border-radius: 20px;
}

.submit2:hover {
    background-color: lawngreen;
    color: black;
    border-radius: 20px;
}

.col {
    background-color: aqua;
    border: 2px solid rgb(10, 8, 8);
    margin: 2rem;
    height: 32rem;
}

.cart {
    display: inline-block;
    margin-left: 2.6rem;
    margin-top: .8rem;
    float: left;
}

.cart2 {
    margin-left: -1.8rem;
    margin-top: -2rem;
}

@media (max-width:740px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Ubuntu', sans-serif;
    }
    .main {
        width: 48vw;
        height: 40vh;
        border: 2px solid black;
        white-space: border;
        margin-top: 6rem;
        margin-left: 40%;
        background-color: #fff;
        margin-bottom: 5rem;
        margin-top: 2.5rem;
        overflow: scroll;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    }
    .col {
        background-color: aqua;
        border: 2px solid rgb(10, 8, 8);
        margin: 2rem;
        height: 24rem;
        width: 20rem;
        margin-left: -7rem;
    }
    .container {
        padding: 0 7.8rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .intro {
        text-align: center;
        padding: 10px;
        color: rgb(0, 0, 0);
        margin-top: -1rem;
    }
    .intro-con {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(107, 233, 49);
    }
    .back {
        width: 27vw;
        height: 10vh;
        margin: 0 auto;
    }
    .function {
        text-align: center;
    }
    .input1 {
        border: none;
        outline: none;
        margin-left: 1vw;
        font-size: .9rem;
        border-bottom: 1px solid black;
        margin-top: 2rem;
        width: 10rem;
    }
    .input-fun-2 {
        border: none;
        outline: none;
        margin-left: 4vw;
        font-size: .9rem;
        border-bottom: 1px solid black;
        margin-top: 2rem;
        width: 40vw;
    }
    .submit {
        border: 1px solid black;
        display: inline-block;
        padding: 8px 8px;
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-bottom: 3rem;
        border-radius: 5px;
        margin-top: 1.5rem;
        margin-left: 3rem;
        color: black;
        text-decoration: black;
    }
    .submit2 {
        border: 1px solid black;
        display: inline-block;
        padding: 8px 8px;
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-bottom: 3rem;
        border-radius: 5px;
        margin-top: 1.5rem;
        margin-left: 3rem;
        text-decoration: none;
        color: black;
    }
    .result {
        margin-left: 1rem;
        display: inline-block;
        font-size: 1.4rem;
    }
    .result2 {
        margin-left: 2rem;
        font-size: 1.4rem;
        margin-top: -30px;
    }
    .main2 {
        overflow-x: scroll;
    }
    .submit:hover {
        background-color: lawngreen;
        color: black;
        border-radius: 20px;
    }
    .submit2:hover {
        background-color: lawngreen;
        color: black;
        border-radius: 20px;
    }
    .cart {
        display: inline-block;
        margin-left: -.2rem;
        margin-top: 5rem;
        float: left;
        width: 38vw;
        height: 30vh;
    }
    .cart2 {
        margin-left: -.3rem;
    }
    .result {
        margin-top: -3rem;
        margin-left: .3rem;
    }
    .result2 {
        margin-left: 1rem;
    }
}